#cameraUIWrapper {
    --UI-height: 1;
    --camera-height: 1;
    --content-height: 1;

    height: var(--UI-height);
    display: grid;
    grid-template-areas: "camera" "content";
    grid-template-rows: var(--camera-height) var(--content-height);
}

#contentDiv {

    border-top: 3px solid #aad2ba;
    display: grid;
    grid-template-areas: "prompt" "list";
    grid-template-rows: fit-content(5rem);

}

#listDiv {
    --prompt-height: 1;

    position: relative;
    height: calc(var(--content-height) - var(--prompt-height));
    max-height: calc(var(--content-height) - var(--prompt-height));
    overflow-y: scroll;
    border-top: #6e8f71 2px solid;
    border-bottom: #6e8f71 2px solid;
}

.shopContainer {
    border-bottom: #6e8f71 2px solid;
    text-align: left;
}

.mainText {
    font-size: 12px;
}

.otherText {
    font-size: 10px;
}

.warningText {
    font-size: 10px;
    color: #fff451;
}

.itemContainer {
    display: grid;
    grid-template-areas: "desc" "buttons";
    grid-template-columns: 1fr min-content;
    border-bottom: #6e8f71 2px solid;
}

.itemButtonContainer {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    align-items: center;
}

.itemTextContainer {
    text-align: left;
}

.listBtn {
    margin: 0;
    padding: 0.2rem 0.6rem;
}

.quantityText {
    padding-left: 0.5rem;
}

#inputDiv {
    display: grid;
    grid-template-areas: "id" "quantity" "button";
    grid-template-columns: 1fr 1fr min-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#inputButton, #checkoutButton {
    margin: 0;
    font-size: 0.8rem;
    padding: 0.7rem;
}

#item_input, #quantity_input {
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#listContainer {
    display: grid;
    grid-template-areas: "list" "checkout";
    grid-template-rows: 1fr min-content;
}

#checkoutDiv {
    display: grid;
    grid-template-areas: "amount" "button";
    grid-template-columns: 1fr min-content;
    text-align: left;
    padding-top: 0.5rem;
}